Repository Huvinesh-Rajendran-12/keras-geometric, changes with the labels that .github/labeler.yml gives for each.
All labels: core, datasets, tests, documentation, build, ci/cd, dependencies, quality, examples, performance

refactor: implement strategy pattern for message aggregation
  src/keras_geometric/layers/__init__.py
  src/keras_geometric/layers/aggregators.py
  src/keras_geometric/layers/message_passing.py
  src/keras_geometric/layers/sage_conv.py
Labels: core

refactor: implement strategy pattern for message aggregation
  src/keras_geometric/layers/__init__.py
  src/keras_geometric/layers/aggregators.py
  src/keras_geometric/layers/message_passing.py
  src/keras_geometric/layers/sage_conv.py
Labels: core

feat: implement comprehensive testing improvements
  pyproject.toml
  tests/backends/__init__.py
  tests/backends/test_backend_compatibility.py
  tests/integration/__init__.py
  tests/integration/test_model_integration.py
  tests/performance/__init__.py
  tests/performance/test_large_graphs.py
  tests/unit/test_batch_processing.py
  tests/unit/test_error_handling.py
Labels: tests, build, dependencies

Refactor model integration tests
  tests/integration/test_model_integration.py
Labels: tests

feat: Implement pooling layers
  docs/index.md
  docs/tutorials/getting_started.md
  docs/tutorials/index.md
  docs/tutorials/node_classification.md
  examples/pooling_example.py
  pyproject.toml
  src/keras_geometric/layers/__init__.py
  src/keras_geometric/layers/pooling/__init__.py
  src/keras_geometric/layers/pooling/attention_pooling.py
  src/keras_geometric/layers/pooling/global_pooling.py
  tests/performance/test_large_graphs.py
  tests/test_pooling.py
Labels: core, tests, documentation, build, dependencies, examples

fix: Update pre-commit ruff version to match pyproject.toml requirements
  .pre-commit-config.yaml
  src/keras_geometric/datasets/base.py
Labels: datasets, quality

fix: Update pre-commit ruff version to match pyproject.toml requirements
  src/keras_geometric/layers/pooling/global_pooling.py
Labels: core

fix: Sync ruff versions to eliminate CI/CD formatting inconsistencies
  .pre-commit-config.yaml
  src/keras_geometric/datasets/base.py
  tests/performance/test_large_graphs.py
Labels: datasets, tests, quality

fix: Update pre-commit ruff to v0.11.13 to match CI/CD version
  .pre-commit-config.yaml
  examples/pooling_example.py
  src/keras_geometric/datasets/base.py
  src/keras_geometric/layers/pooling/attention_pooling.py
  src/keras_geometric/layers/pooling/global_pooling.py
  tests/backends/test_backend_compatibility.py
  tests/integration/test_model_integration.py
  tests/performance/test_large_graphs.py
  tests/test_pooling.py
  tests/unit/test_batch_processing.py
  tests/unit/test_error_handling.py
Labels: core, datasets, tests, quality, examples

fix: Update pre-commit ruff to v0.11.13 to match CI/CD version
  src/keras_geometric/layers/pooling/attention_pooling.py
  src/keras_geometric/layers/pooling/global_pooling.py
  tests/backends/test_backend_compatibility.py
  tests/unit/test_batch_processing.py
  tests/unit/test_error_handling.py
Labels: core, tests

fix: Update pre-commit ruff to v0.11.13 to match CI/CD version
  CLAUDE.md
  src/keras_geometric/layers/pooling/attention_pooling.py
  src/keras_geometric/layers/pooling/global_pooling.py
  tests/backends/test_backend_compatibility.py
  tests/unit/test_batch_processing.py
  tests/unit/test_error_handling.py
Labels: core, tests, documentation

fix: Resolve final Pyrefly type errors
  src/keras_geometric/layers/pooling/global_pooling.py
  tests/unit/test_batch_processing.py
Labels: core, tests

Convert GCN models to subclassed Keras Models
  docs/tutorials/getting_started.md
  docs/tutorials/node_classification.md
Labels: documentation

fix: Resolve test failures and improve backend compatibility
  tests/backends/test_backend_compatibility.py
  tests/conftest.py
  tests/unit/test_batch_processing.py
  tests/unit/test_error_handling.py
Labels: tests

Fix: Narrow exception type in test
  tests/unit/test_error_handling.py
Labels: tests

Refactor backend compatibility tests
  tests/backends/test_backend_compatibility.py
  tests/conftest.py
Labels: tests

Remove safe_tensor_to_numpy and use keras.ops directly
  tests/backends/test_backend_compatibility.py
Labels: tests

Improve testing coverage and fix test issues
  pyproject.toml
  tests/integration/test_model_integration.py
  tests/performance/test_large_graphs.py
  tests/test_gin_conv.py
  tests/test_graphsage_conv.py
  tests/unit/test_batch_processing.py
  tests/unit/test_error_handling.py
Labels: tests, build, dependencies

Add git configuration to CLAUDE.md
  CLAUDE.md
  tests/integration/test_model_integration.py
  tests/test_gin_conv.py
  tests/unit/test_batch_processing.py
  tests/unit/test_error_handling.py
Labels: tests, documentation

Raise generic exception type to avoid ValueError
  tests/unit/test_error_handling.py
Labels: tests

Test model serialization with a Keras Geometric layer
  tests/integration/test_model_integration.py
Labels: tests

fix: Update pre-commit ruff version to match pyproject.toml requirements
  src/keras_geometric/layers/pooling/global_pooling.py
Labels: core

fix: Resolve test failures and improve backend compatibility
  tests/backends/test_backend_compatibility.py
  tests/conftest.py
  tests/unit/test_batch_processing.py
  tests/unit/test_error_handling.py
Labels: tests

Test model serialization with a Keras Geometric layer
  tests/integration/test_model_integration.py
Labels: tests

Improve testing coverage and fix test issues
  pyproject.toml
  tests/integration/test_model_integration.py
  tests/performance/test_large_graphs.py
  tests/test_gin_conv.py
  tests/test_graphsage_conv.py
  tests/unit/test_batch_processing.py
  tests/unit/test_error_handling.py
Labels: tests, build, dependencies

Refactor model integration tests
  tests/integration/test_model_integration.py
Labels: tests

feat: Implement pooling layers
  docs/index.md
  docs/tutorials/getting_started.md
  docs/tutorials/index.md
  docs/tutorials/node_classification.md
  examples/pooling_example.py
  pyproject.toml
  src/keras_geometric/layers/__init__.py
  src/keras_geometric/layers/pooling/__init__.py
  src/keras_geometric/layers/pooling/attention_pooling.py
  src/keras_geometric/layers/pooling/global_pooling.py
  tests/performance/test_large_graphs.py
  tests/test_pooling.py
Labels: core, tests, documentation, build, dependencies, examples

Add git configuration to CLAUDE.md
  CLAUDE.md
  tests/integration/test_model_integration.py
  tests/test_gin_conv.py
  tests/unit/test_batch_processing.py
  tests/unit/test_error_handling.py
Labels: tests, documentation

Fix: Narrow exception type in test
  tests/unit/test_error_handling.py
Labels: tests

Refactor backend compatibility tests
  tests/backends/test_backend_compatibility.py
  tests/conftest.py
Labels: tests

Convert GCN models to subclassed Keras Models
  docs/tutorials/getting_started.md
  docs/tutorials/node_classification.md
Labels: documentation

fix: Update pre-commit ruff to v0.11.13 to match CI/CD version
  CLAUDE.md
  src/keras_geometric/layers/pooling/attention_pooling.py
  src/keras_geometric/layers/pooling/global_pooling.py
  tests/backends/test_backend_compatibility.py
  tests/unit/test_batch_processing.py
  tests/unit/test_error_handling.py
Labels: core, tests, documentation

fix: Update pre-commit ruff version to match pyproject.toml requirements
  .pre-commit-config.yaml
  src/keras_geometric/datasets/base.py
Labels: datasets, quality

feat: implement comprehensive testing improvements
  pyproject.toml
  tests/backends/__init__.py
  tests/backends/test_backend_compatibility.py
  tests/integration/__init__.py
  tests/integration/test_model_integration.py
  tests/performance/__init__.py
  tests/performance/test_large_graphs.py
  tests/unit/test_batch_processing.py
  tests/unit/test_error_handling.py
Labels: tests, build, dependencies

Remove safe_tensor_to_numpy and use keras.ops directly
  tests/backends/test_backend_compatibility.py
Labels: tests

fix: Update pre-commit ruff to v0.11.13 to match CI/CD version
  .pre-commit-config.yaml
  examples/pooling_example.py
  src/keras_geometric/datasets/base.py
  src/keras_geometric/layers/pooling/attention_pooling.py
  src/keras_geometric/layers/pooling/global_pooling.py
  tests/backends/test_backend_compatibility.py
  tests/integration/test_model_integration.py
  tests/performance/test_large_graphs.py
  tests/test_pooling.py
  tests/unit/test_batch_processing.py
  tests/unit/test_error_handling.py
Labels: core, datasets, tests, quality, examples

fix: Resolve final Pyrefly type errors
  src/keras_geometric/layers/pooling/global_pooling.py
  tests/unit/test_batch_processing.py
Labels: core, tests

fix: Sync ruff versions to eliminate CI/CD formatting inconsistencies
  .pre-commit-config.yaml
  src/keras_geometric/datasets/base.py
  tests/performance/test_large_graphs.py
Labels: datasets, tests, quality

Raise generic exception type to avoid ValueError
  tests/unit/test_error_handling.py
Labels: tests

Add test coverage reporting and reorganize examples directory
  .github/workflows/ci-cd.yml
  .pre-commit-config.yaml
  README.md
  docs/index.md
  docs/installation.md
  docs/tutorials/index.md
  examples/README.md
  examples/advanced/pooling_example.py
  examples/basic/simple_gatv2_example.py
  examples/basic/simple_gatv2_example_fixed.py
  examples/basic/simple_gcn_example.py
  examples/basic/simple_gin_example.py
  examples/basic/simple_sage_example.py
  examples/node_classification_demos/gatv2_example.py
  examples/node_classification_demos/gcn_example.py
  examples/node_classification_demos/graphsage_example.py
  mkdocs.yml
  pyproject.toml
  pyrefly.toml
Labels: documentation, build, ci/cd, dependencies, quality, examples

.github/labeler.yml:

# Configuration for automatic labeling of pull requests
# This file defines patterns to automatically label PRs based on changed files

# Core library changes
core:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/keras_geometric/layers/**/*'
      - 'src/keras_geometric/message_passing.py'

# Dataset related changes
datasets:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/keras_geometric/datasets/**/*'

# Testing changes
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README.md'
      - 'docs/**/*'
      - '**/*.md'

# Configuration and build changes
build:
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'setup.py'
      - 'setup.cfg'
      - 'requirements*.txt'
      - 'uv.lock'

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
      - 'scripts/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'requirements*.txt'
      - 'uv.lock'

# Type checking and linting
quality:
  - changed-files:
    - any-glob-to-any-file:
      - '.ruff.toml'
      - 'pyrefly.toml'
      - '.pre-commit-config.yaml'

# Examples and tutorials
examples:
  - changed-files:
    - any-glob-to-any-file:
      - 'examples/**/*'
      - 'tutorials/**/*'

# Performance related
performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/benchmark*'
      - '**/perf*'
      - '**/optimization*'

# Bug fixes (based on branch names)
bug:
  - head-branch:
    - '^fix/'
    - '^bugfix/'
    - '^hotfix/'

# New features
enhancement:
  - head-branch:
    - '^feature/'
    - '^feat/'
    - '^add/'

# Breaking changes
breaking:
  - head-branch:
    - '^breaking/'
    - '^major/'
